#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.timetable {
  flex: 1;
  margin: 0 20px;
  margin-top: 10px;
}

#simulator-info {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 16px;
  margin: 10px 20px;
}

#simulator-info > #station-info {
  flex: 1;
  margin-right: 20px;
}

#station-info:hover {
  background-color: #888;
}

#simulator-info > #station-info > p {
  text-align: center;
  font-size: 4.5em;
  font-weight: 700;
  letter-spacing: 0.5em;
  margin: 0;
  padding-bottom: 12px;
  border-bottom: 4px solid white;
}

#simulator-info > #current-time {
  width: max-content;
  background-color: black;
  padding: 10px 40px;
}

#simulator-info > #current-time > #time-label {
  font-size: 2em;
}

#simulator-info > #current-time > #time {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 4em;
}

#simulator-info > #current-time > #time-sec {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 2em;
}


#footer {
  margin: 0 20px;
}
#footer > p {
  text-align: right;
  margin: 0;
}