/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap'); */

#timetable-header {
    display: flex;
    align-items:flex-end;
    height: 120px;
    width: 100%;
    font-size: 12px;
}

#timetable-header p {
    margin: 0;
}

#timetable-header > #line-name {
    flex: 1;
    text-align: end;
    font-size: 6em;
}

#timetable-header > #line-name.multiline {
    font-size: 3.5em;
    white-space: pre-wrap;
}

#timetable-header > #line-color {
    margin: 0px 30px;
    width: 60px;
    height: 100%;
}

#timetable-header > #line-direction {
    flex: 2;
    font-size: 5em;
}

#timetable-body {
    height: max-content;
    margin: 10px 0px;
    background-color: #000;
    padding-bottom: 20px;
}

.timetable-item {
    display: flex;
    height: 120px;
    flex-direction: row;
    font-size: 80px;
    padding-top: 20px;
}

.timetable-item.blinking {
    animation: blinking 1s ease-in-out infinite alternate;
}

.timetable-item > .type {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 20px;
}
.timetable-item > .type.multiline {
    font-size: 0.6em;
    line-height: 0.9em;
}

.timetable-item > .time {
    flex: 1;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
.timetable-item > .destination {
    flex: 4;
    text-align: center;
    text-wrap: nowrap;
    overflow: hidden;
}

@keyframes blinking {
   0% {
    opacity: 1;
   }
   30% {
    opacity: 1;
   }
   100% {
    opacity: 0;
   }
}