#timetable {
    display: flex;
    flex-direction: row;
    margin: 0 20px;
    margin-top: 20px;
}

div.timetable-direction {
    flex: 1;
    margin: 0 10px;
}

div.timetable-header {
    display: flex;
    align-items: flex-end;
    height: 80px;
}

div.timetable-header > .line-name {
    font-size: 3em;
}

div.timetable-header > .line-color {
    width: 40px;
    height: 100%;
    margin: 0 20px;
}

div.timetable-header > .distination {
    font-size: 2em;
}

table.timetable-body {
    display: table;
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 100%;
    font-size: 3em;
    margin-top: 20px;
}

table.timetable-body > tbody tr {
    height: 1.2em;
    border: 1px solid #ccc;
}

table.timetable-body > tbody th {
    max-width: 100px;
    width: 2em;
    border: 1px solid #ccc;
    padding: 10px 0;
}

table.timetable-body > tbody td {
    text-align: center;
}
